<div class="container">
    <div class="row">
        <div class="col text-center" style="margin: 25px;">
            <select class="custom-select" id="selChart">
                <option id="cardValue" value="Card Collection Value">Card Collection Value</option>
                <option id="cardProfit" value="Card Collection Profit">Card Collection Profit</option>
            </select>
        </div>
    </div>
</div>
<div>
    <canvas id="myChart"></canvas>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/public/js/chart.js"></script>