<form class="form search-form">
  <div class="form-group">
    <label for="pokemon-search">Search:</label>
    <input class="form-input" type="text" id="search" />
  </div>
  <div class="input-group mb-3 col-3">
  <div class="input-group-prepend">
    <label class="input-group-text " for="inputGroupSelect01">Rarity</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="Amazing Rare">Amazing Rare</option>
    <option value="Common">Common</option>
    <option value="LEGEND">LEGEND</option>
    <option value="Promo">Promo</option>
    <option value="Rare">Rare</option>
    <option value="Rare ACE">Rare ACE</option>
    <option value="Rare BREAK">Rare BREAK</option>
    <option value="Rare Holo">Rare Holo</option>
    <option value="Rare Holo EX">Rare Holo EX</option>
    <option value="Rare Holo GX">Rare Holo GX</option>
    <option value="Rare Holo LV.X">Rare Holo LV.X</option>
    <option value="Rare Holo Star">Rare Holo Star</option>
    <option value="Rare Holo V">Rare Holo V</option>
    <option value="Rocket's Secret Machine ">Rocket's Secret Machine</option>
    <option value="Special">Special</option>
    <option value="Stadium">Stadium</option>
    <option value="Stage 1">Stage 1</option>
    <option value="Stage 2">Stage 2</option>
    <option value="Supporter">Supporter</option>
    <option value="TAG TEAM">TAG TEAM</option>
    <option value="Technical Machine">Technical Machine</option>
    <option value="V">V</option>
    <option value="VMAX">VMAX</option>
  </select>
</div>
<div class="input-group mb-3 col-3">
  <div class="input-group-prepend">
    <label class="input-group-text " for="inputGroupSelect01">SubType</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="BREAK">BREAK</option>
    <option value="Baby">Baby</option>
    <option value="Basic">Basic</option>
    <option value="EX">EX</option>
    <option value="GX">GX</option>
    <option value="Goldenrod Game Corner">Goldenrod Game Corner</option>
    <option value="Item">Item</option>
    <option value="LEGEND">LEGEND</option>
    <option value="Level-Up">Level-Up</option>
    <option value="MEGA">MEGA</option>
    <option value="Pokemon Tool">Pokemon Tool</option>
    <option value="Pokemon Tool F">Pokemon Tool F</option>
    <option value="Restored">Restored</option>
    <option value="Rare Holo VMAX ">Rare Holo VMAX</option>
    <option value="Rare Prime">Rare Prime</option>
    <option value="Rare Prism Star">Rare Prism Star</option>
    <option value="Rare Rainbow">Rare Rainbow</option>
    <option value="Rare Secret">Rare Secret</option>
    <option value="Rare Shining">Rare Shining</option>
    <option value="Rare Shiny">Rare Shiny</option>
    <option value="Rare Shiny GX">Rare Shiny GX</option>
    <option value="Rare Ultra">Rare Ultra</option>
    <option value="Uncommon">Uncommon</option>
  </select>
</div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

<div class="rowz">
{{#each card}}
{{> displaysearchresults}}
{{/each}}
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{{!-- <script src="./js/search.js"></script> --}}

<script src="/js/saveCard.js"></script>
<script src="/js/search.js"></script>