.home-forms {
    display: flex;
    justify-content: space-around;
    margin: 36px -12px 32px 10px;
}
.form-control{
    width: 250px;
    height:25px;
}
#loginForm {
    margin-top: 75px
}

.pokedex{
    position: relative;
    width: 850px;
    height: 650px;
    margin: 50px auto;
    background-image: url("/images/pokedex.png");
    border: 2px solid #ccc;
    box-shadow: 7px 7px 20px #555;
    background-repeat: no-repeat;
} 

.rowz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
